<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template : cours 2</title>
</head>
<body>

<p>
    bonjour {{name}}, vous avez {{age}} ans
</p>

<h1>
    liste des nom
</h1>

<ul>
    {% for nom in tblName %}
        <li>
            nom
        </li>
    {% endfor %}
</ul>

</body>
</html>